<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="./vue.js"></script>
    <div id='app'>
        <ul>
            <li :key="" v-for='(item,key) of name'>{{key}}:{{item}} </li>
            <button   @click="change">改变</button>
        </ul>
        <ul>
            <li v-for='(item,key,index) of names'>{{key}}:{{item}}:{{index}} </li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                name: ['jl', 'wh', 'hws'],
                names: {
                    age: 18,
                    heigth: 1.88,
                    name: 'jl'
                }
            },
            methods: {
                change() {
                    this.name.splice(1, 1, 'hty', 'pyf')
                    this.name.reverse();
                }
            }
        })
    </script>
</body>

</html>